**/__pycache__/**
.env
uv.lock
scratch.py
samples/*
data/*
.cache/*
taco_medium_qwen_1.5b/*
taco_medium_llama_70b/*
taco_instruct_llama_8b_single/*
taco_medium_llama-3.1-8b-mixed-slerp-0.70_messy_reasoning/*
taco_medium_llama_8b/*
taco_medium_llama_8b_messy_reasoning/*
taco_instruct_llama_8b_single_copy/*
SkyThought/samples/*
sorry-bench-202406.zip
**/__pycache__/**
taco_instruct_llama_8b_single copy/converted_question_0_sample_4.json
entropies/token_entropy_by_position.png
entropies/token_entropy_histogram.png
entropies/*
taco_instruct_llama_8b_single_slerp_0.5/*
taco_instruct_llama_8b_single_big_2_correct.json
taco_instruct_llama_8b_single_big.json
taco_instruct_llama_8b_single_slerp_0.5_big_2_correct.json
taco_instruct_llama_8b_single_slerp_0.5_big.json
taco_instruct_llama_8b_single_slerp_0.5.json
taco_instruct_llama_8b_single_slerp_0.7.json
taco_instruct_llama_8b_single.json
taco_instruct_llama_8b_single_slerp_0.7/*
taco_medium_llama_8b_messy_reasoning_not_blind/*
*/__pycache__/*
taco_instruct_llama_8b_single_slerp_0.7_big_2_correct.json
taco_instruct_llama_8b_single_slerp_0.7_big.json
taco_instruct_llama_8b_single_slerp_0.9_big.json
taco_instruct_llama_8b_single_slerp_0.90.json
taco_medium_llama_8b.json
test.json
**/__pycache__/**
check_models.py
check_samples.py
finetuning_pass_at_k.pdf
inference.sh
single_inference.sh
similarity_distribution_global.png
similarity_distribution_local.png
similarity_distribution.png
pass_at_k.png
single_inference.sh
